.body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 500px;
}

.header {
    display: flex;
    background-color: #1f2937;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: space-around;
}


.upper {
display: flex;
background-color: #1f2937;

}


.uppmidd {
display: flex;
}

.lowmidd {
display: flex;
}

.lower {
display: flex;
}

.footer {
display: flex;
}