* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 500px;
}

.header {
    display: flex;
    background-color: #1f2937;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: space-between;
    padding: 0 150px;
}

.logo {

}

a{
color: #F9FAF8;
font-size: 8px;
text-decoration: none;
}
 .header-link {
    display: flex;
    gap: 50px;
    align-items: center;
 }

.upper {
display: flex;
background-color: #1f2937;

}


.uppmidd {
display: flex;
}

.lowmidd {
display: flex;
}

.lower {
display: flex;
}

.footer {
display: flex;
}